



<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">
      LED color picker!
    </h1>
    <div id="wrapper" *ngIf="currentColor$ | async as color">
      <h2 id="left">
        Current Color {{ colorToHex(color.red, color.green, color.blue) }}
      </h2>
      <div id="right" class="circle" [ngStyle]="displayCurrentColor(color)"></div>
    </div>


    <p class="lead">Go ahead and select the color of the LED, be sure to click the apply button to change the color!! <p>

    <app-color-picker [heading]="'LED color'" [color]="'#FFFFFF'" (event)='onColorPicked($event)'></app-color-picker>

    <button 
      type="button" 
      class="btn btn-dark btn-clr" 
      [ngStyle]="{'background': pickedColor !== '#ffffff' ? pickedColor : null}" 
      (click)='setColor()'>
        Apply Color
    </button>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Created with {{"\u2764"}} for the IoT Tech Dojo.</span>
  </div>
</footer>
